.gbii {
    background-image: url(https://lh3.googleusercontent.com/-WMpfs0c3R5A/AAAAAAAAAAI/AAAAAAAAAAA/AMp5VUqC9k4ICno8x43ALOMpf-GwltNUiQ/s32-c-mo-md/photo.jpg);
}
imghp?hl=en&tab…=0CBQQqi4oAQ:8
.gb_7a {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}
Inherited from a.gb_b.gb_cb.gb_R
imghp?hl=en&tab…=0CBQQqi4oAQ:8
#gb#gb a.gb_b {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
imghp?hl=en&tab…0CBQQqi4oAQ:11
a:visited {
    color: #609;
}
imghp?hl=en&tab…=0CBQQqi4oAQ:8
.gb_b {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
imghp?hl=en&tab…0CBQQqi4oAQ:11
a {
    color: #1a0dab;
    text-decoration: none;
}
imghp?hl=en&tab…0CBQQqi4oAQ:11
body, td, a, p, .h {
    font-family: arial,sans-serif;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
Inherited from div.gb_Dc.gb_gb.gb_jg.gb_R
imghp?hl=en&tab…=0CBQQqi4oAQ:8
.gb_jg {
    white-space: nowrap;
}
Inherited from div.gb_eb.gb_Wc.gb_jg.gb_R.gb_zb.gb_g
imghp?hl=en&tab…=0CBQQqi4oAQ:8
.gb_jg {
    white-space: nowrap;
}